// SPDX-License-Identifier: GPL-2.0
/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Digilent Zybo board";
	compatible = "digilent,zynq-zybo", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		mmc0 = &sdhci0;
		spi0 = &qspi;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/mmcblk0p2 ro earlycon rootwait clocksource=ttc_clocksource";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		#phy-cells = <0>;
		compatible = "usb-nop-xceiv";
		reset-gpios = <&gpio0 46 1>;
	};

	gpio-leds {
		compatible = "gpio-leds";
		heartbeat {
			gpios = <&gpio0 7 0>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&clkc {
	ps-clk-frequency = <50000000>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	flash@0 {
		compatible = "s25fl128s", "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		partition@0 {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x110000>;
		};
		partition@110000 {
			label = "qspi-devicetree";
			reg = <0x110000 0x10000>;
		};
		partition@120000 {
			label = "qspi-linux";
			reg = <0x120000 0x300000>;
		};
		partition@420000 {
			label = "qspi-ramdisk";
			reg = <0x420000 0x3e0000>;
		};
	};
};

&sdhci0 {
	status = "okay";
	disable-wp;
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "otg";
	usb-phy = <&usb_phy0>;
};
